src/main/webapp/WEB-INF/usermanager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://sav.ru/abusemanager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sav.ru/abusemanager" targetNamespace="http://sav.ru/abusemanager">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://sav.ru/abusemanager" version="1.0">

    <xs:element name="getUserByLoginRequest" type="tns:getUserByLoginRequest"/>
    <xs:element name="getUserByLoginResponse" type="tns:getUserByLoginResponse"/>
    <xs:element name="createUserRequest" type="tns:createUserRequest"/>
    <xs:element name="createUserResponse" type="tns:createUserResponse"/>
    <xs:element name="updateUserRequest" type="tns:updateUserRequest"/>
    <xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
    <xs:element name="deleteUserRequest" type="tns:deleteUserRequest"/>
    <xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>

    <xs:element name="getUserGroupsRequest" type="tns:getUserGroupsRequest"/>
    <xs:element name="getUserGroupsResponse" type="tns:getUserGroupsResponse"/>

    <xs:element name="listGroupsRequest" type="tns:listGroupsRequest"/>
    <xs:element name="listGroupsResponse" type="tns:listGroupsResponse"/>
    <xs:element name="createGroupRequest" type="tns:createGroupRequest"/>
    <xs:element name="createGroupResponse" type="tns:createGroupResponse"/>
    <xs:element name="updateGroupRequest" type="tns:updateGroupRequest"/>
    <xs:element name="updateGroupResponse" type="tns:updateGroupResponse"/>
    <xs:element name="deleteGroupRequest" type="tns:deleteGroupRequest"/>
    <xs:element name="deleteGroupResponse" type="tns:deleteGroupResponse"/>

    <xs:element name="getGroupUsersRequest" type="tns:getGroupUsersRequest"/>
    <xs:element name="getGroupUsersResponse" type="tns:getGroupUsersResponse"/>
    <xs:element name="addUserToGroupRequest" type="tns:addUserToGroupRequest"/>
    <xs:element name="addUserToGroupResponse" type="tns:addUserToGroupResponse"/>
    <xs:element name="deleteUserFromGroupRequest" type="tns:deleteUserFromGroupRequest"/>
    <xs:element name="deleteUserFromGroupResponse" type="tns:deleteUserFromGroupResponse"/>
    <xs:element name="getGroupCoursesRequest" type="tns:getGroupCoursesRequest"/>
    <xs:element name="getGroupCoursesResponse" type="tns:getGroupCoursesResponse"/>

    <xs:element name="listRolesToGroupsRequest" type="tns:listRolesToGroupsRequest"/>
    <xs:element name="listRolesToGroupsResponse" type="tns:listRolesToGroupsResponse"/>
    <xs:element name="getRoleToGroupRequest" type="tns:getRoleToGroupRequest"/>
    <xs:element name="getRoleToGroupResponse" type="tns:getRoleToGroupResponse"/>
    <xs:element name="createRoleToGroupRequest" type="tns:createRoleToGroupRequest"/>
    <xs:element name="createRoleToGroupResponse" type="tns:createRoleToGroupResponse"/>
    <xs:element name="updateRoleToGroupRequest" type="tns:updateRoleToGroupRequest"/>
    <xs:element name="updateRoleToGroupResponse" type="tns:updateRoleToGroupResponse"/>
    <xs:element name="deleteRoleToGroupRequest" type="tns:deleteRoleToGroupRequest"/>
    <xs:element name="deleteRoleToGroupResponse" type="tns:deleteRoleToGroupResponse"/>

    <xs:element name="listCoursesRequest" type="tns:listCoursesRequest"/>
    <xs:element name="listCoursesResponse" type="tns:listCoursesResponse"/>
    <xs:element name="listCoursesTLRequest" type="tns:listCoursesTLRequest"/>
    <xs:element name="listCoursesTLResponse" type="tns:listCoursesTLResponse"/>
    <xs:element name="getCourseTimeLimitRequest" type="tns:getCourseTimeLimitRequest"/>
    <xs:element name="getCourseTimeLimitResponse" type="tns:getCourseTimeLimitResponse"/>
    <xs:element name="setCourseTimeLimitRequest" type="tns:setCourseTimeLimitRequest"/>
    <xs:element name="setCourseTimeLimitResponse" type="tns:setCourseTimeLimitResponse"/>


    <xs:complexType name="getUserByLoginRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="login" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getUserByLoginResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="login" type="xs:string"/>
            <xs:element minOccurs="0" name="firstName" type="xs:string"/>
            <xs:element minOccurs="0" name="secondName" type="xs:string"/>
            <xs:element minOccurs="0" name="jabberId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createUserRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="login" type="xs:string"/>
            <xs:element minOccurs="0" name="firstName" type="xs:string"/>
            <xs:element minOccurs="0" name="secondName" type="xs:string"/>
            <xs:element minOccurs="0" name="jabberId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createUserResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updateUserRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="login" type="xs:string"/>
            <xs:element minOccurs="0" name="firstName" type="xs:string"/>
            <xs:element minOccurs="0" name="secondName" type="xs:string"/>
            <xs:element minOccurs="0" name="jabberId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updateUserResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteUserRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="login" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteUserResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="getUserGroupsRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="login" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getUserGroupsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="userGroups" nillable="true" type="tns:userGroup"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="listGroupsRequest">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="listGroupsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="groups" nillable="true" type="tns:group"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createGroupRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createGroupResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updateGroupRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updateGroupResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteGroupRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="id" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteGroupResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="getGroupUsersRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="groupId" type="xs:long"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getGroupUsersResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="groupUsers" nillable="true" type="tns:groupUser"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addUserToGroupRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="groupId" type="xs:long"/>
            <xs:element minOccurs="1" name="login" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addUserToGroupResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteUserFromGroupRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="groupId" type="xs:long"/>
            <xs:element minOccurs="1" name="login" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteUserFromGroupResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getGroupCoursesRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="groupId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getGroupCoursesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="courses" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="listRolesToGroupsRequest">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="listRolesToGroupsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="roleToGroups" nillable="true" type="tns:roleToGroup"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getRoleToGroupRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="role" type="xs:string"/>
            <xs:element minOccurs="0" name="groupId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getRoleToGroupResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="roleToGroups" nillable="true" type="tns:roleToGroup"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createRoleToGroupRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="role" type="xs:string"/>
            <xs:element minOccurs="1" name="groupId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createRoleToGroupResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updateRoleToGroupRequest">
        <xs:sequence>
            <xs:element minOccurs="1" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="role" type="xs:string"/>
            <xs:element minOccurs="0" name="groupId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updateRoleToGroupResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteRoleToGroupRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="role" type="xs:string"/>
            <xs:element minOccurs="0" name="groupId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteRoleToGroupResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="group">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="groupUser">
        <xs:sequence>
            <xs:element minOccurs="0" name="login" type="xs:string"/>
            <xs:element minOccurs="0" name="firstName" type="xs:string"/>
            <xs:element minOccurs="0" name="secondName" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="userGroup">
        <xs:sequence>
            <xs:element minOccurs="0" name="group" type="tns:group"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="roleToGroup">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="role" type="xs:string"/>
            <xs:element minOccurs="0" name="groupId" type="xs:long"/>
            <xs:element minOccurs="0" name="groupName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="listCoursesRequest">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="listCoursesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="courses" nillable="true" type="tns:course"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="listCoursesTLRequest">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="listCoursesTLResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="courseInfos" nillable="true" type="tns:courseInfo"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCourseTimeLimitRequest">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="courseId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCourseTimeLimitResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="courseId" type="xs:long"/>
            <xs:element minOccurs="0" name="courseName" type="xs:string"/>
            <xs:element minOccurs="0" name="timeLimit" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setCourseTimeLimitRequest">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="courseId" type="xs:long"/>
            <xs:element maxOccurs="1" minOccurs="1" name="timeLimit" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setCourseTimeLimitResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="courseInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="courseId" type="xs:long"/>
            <xs:element minOccurs="0" name="courseName" type="xs:string"/>
            <xs:element minOccurs="0" name="timeLimit" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="course">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="listGroupsResponse">
    <wsdl:part element="tns:listGroupsResponse" name="listGroupsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserRequest">
    <wsdl:part element="tns:deleteUserRequest" name="deleteUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupCoursesRequest">
    <wsdl:part element="tns:getGroupCoursesRequest" name="getGroupCoursesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserToGroupResponse">
    <wsdl:part element="tns:addUserToGroupResponse" name="addUserToGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCoursesTLRequest">
    <wsdl:part element="tns:listCoursesTLRequest" name="listCoursesTLRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserFromGroupRequest">
    <wsdl:part element="tns:deleteUserFromGroupRequest" name="deleteUserFromGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createGroupResponse">
    <wsdl:part element="tns:createGroupResponse" name="createGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateGroupResponse">
    <wsdl:part element="tns:updateGroupResponse" name="updateGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByLoginRequest">
    <wsdl:part element="tns:getUserByLoginRequest" name="getUserByLoginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part element="tns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupUsersRequest">
    <wsdl:part element="tns:getGroupUsersRequest" name="getGroupUsersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCoursesResponse">
    <wsdl:part element="tns:listCoursesResponse" name="listCoursesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part element="tns:createUserResponse" name="createUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserGroupsRequest">
    <wsdl:part element="tns:getUserGroupsRequest" name="getUserGroupsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserGroupsResponse">
    <wsdl:part element="tns:getUserGroupsResponse" name="getUserGroupsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCoursesTLResponse">
    <wsdl:part element="tns:listCoursesTLResponse" name="listCoursesTLResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateGroupRequest">
    <wsdl:part element="tns:updateGroupRequest" name="updateGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRoleToGroupRequest">
    <wsdl:part element="tns:updateRoleToGroupRequest" name="updateRoleToGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupUsersResponse">
    <wsdl:part element="tns:getGroupUsersResponse" name="getGroupUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourseTimeLimitResponse">
    <wsdl:part element="tns:getCourseTimeLimitResponse" name="getCourseTimeLimitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRoleToGroupResponse">
    <wsdl:part element="tns:deleteRoleToGroupResponse" name="deleteRoleToGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCourseTimeLimitRequest">
    <wsdl:part element="tns:setCourseTimeLimitRequest" name="setCourseTimeLimitRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRoleToGroupRequest">
    <wsdl:part element="tns:createRoleToGroupRequest" name="createRoleToGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRoleToGroupResponse">
    <wsdl:part element="tns:createRoleToGroupResponse" name="createRoleToGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserFromGroupResponse">
    <wsdl:part element="tns:deleteUserFromGroupResponse" name="deleteUserFromGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteGroupResponse">
    <wsdl:part element="tns:deleteGroupResponse" name="deleteGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserRequest">
    <wsdl:part element="tns:updateUserRequest" name="updateUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createGroupRequest">
    <wsdl:part element="tns:createGroupRequest" name="createGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourseTimeLimitRequest">
    <wsdl:part element="tns:getCourseTimeLimitRequest" name="getCourseTimeLimitRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRoleToGroupRequest">
    <wsdl:part element="tns:deleteRoleToGroupRequest" name="deleteRoleToGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part element="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRoleToGroupResponse">
    <wsdl:part element="tns:updateRoleToGroupResponse" name="updateRoleToGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listGroupsRequest">
    <wsdl:part element="tns:listGroupsRequest" name="listGroupsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listRolesToGroupsRequest">
    <wsdl:part element="tns:listRolesToGroupsRequest" name="listRolesToGroupsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleToGroupRequest">
    <wsdl:part element="tns:getRoleToGroupRequest" name="getRoleToGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserRequest">
    <wsdl:part element="tns:createUserRequest" name="createUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupCoursesResponse">
    <wsdl:part element="tns:getGroupCoursesResponse" name="getGroupCoursesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleToGroupResponse">
    <wsdl:part element="tns:getRoleToGroupResponse" name="getRoleToGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteGroupRequest">
    <wsdl:part element="tns:deleteGroupRequest" name="deleteGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listRolesToGroupsResponse">
    <wsdl:part element="tns:listRolesToGroupsResponse" name="listRolesToGroupsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByLoginResponse">
    <wsdl:part element="tns:getUserByLoginResponse" name="getUserByLoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCourseTimeLimitResponse">
    <wsdl:part element="tns:setCourseTimeLimitResponse" name="setCourseTimeLimitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserToGroupRequest">
    <wsdl:part element="tns:addUserToGroupRequest" name="addUserToGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCoursesRequest">
    <wsdl:part element="tns:listCoursesRequest" name="listCoursesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserOperations">
    <wsdl:operation name="listGroups">
      <wsdl:input message="tns:listGroupsRequest" name="listGroupsRequest">
    </wsdl:input>
      <wsdl:output message="tns:listGroupsResponse" name="listGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUserRequest" name="deleteUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupCourses">
      <wsdl:input message="tns:getGroupCoursesRequest" name="getGroupCoursesRequest">
    </wsdl:input>
      <wsdl:output message="tns:getGroupCoursesResponse" name="getGroupCoursesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <wsdl:input message="tns:addUserToGroupRequest" name="addUserToGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:addUserToGroupResponse" name="addUserToGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCoursesTL">
      <wsdl:input message="tns:listCoursesTLRequest" name="listCoursesTLRequest">
    </wsdl:input>
      <wsdl:output message="tns:listCoursesTLResponse" name="listCoursesTLResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserFromGroup">
      <wsdl:input message="tns:deleteUserFromGroupRequest" name="deleteUserFromGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserFromGroupResponse" name="deleteUserFromGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGroup">
      <wsdl:input message="tns:createGroupRequest" name="createGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:createGroupResponse" name="createGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <wsdl:input message="tns:updateGroupRequest" name="updateGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateGroupResponse" name="updateGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByLogin">
      <wsdl:input message="tns:getUserByLoginRequest" name="getUserByLoginRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserByLoginResponse" name="getUserByLoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupUsers">
      <wsdl:input message="tns:getGroupUsersRequest" name="getGroupUsersRequest">
    </wsdl:input>
      <wsdl:output message="tns:getGroupUsersResponse" name="getGroupUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCourses">
      <wsdl:input message="tns:listCoursesRequest" name="listCoursesRequest">
    </wsdl:input>
      <wsdl:output message="tns:listCoursesResponse" name="listCoursesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input message="tns:createUserRequest" name="createUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:createUserResponse" name="createUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserGroups">
      <wsdl:input message="tns:getUserGroupsRequest" name="getUserGroupsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserGroupsResponse" name="getUserGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRoleToGroup">
      <wsdl:input message="tns:updateRoleToGroupRequest" name="updateRoleToGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateRoleToGroupResponse" name="updateRoleToGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseTimeLimit">
      <wsdl:input message="tns:getCourseTimeLimitRequest" name="getCourseTimeLimitRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCourseTimeLimitResponse" name="getCourseTimeLimitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRoleToGroup">
      <wsdl:input message="tns:deleteRoleToGroupRequest" name="deleteRoleToGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteRoleToGroupResponse" name="deleteRoleToGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCourseTimeLimit">
      <wsdl:input message="tns:setCourseTimeLimitRequest" name="setCourseTimeLimitRequest">
    </wsdl:input>
      <wsdl:output message="tns:setCourseTimeLimitResponse" name="setCourseTimeLimitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRoleToGroup">
      <wsdl:input message="tns:createRoleToGroupRequest" name="createRoleToGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:createRoleToGroupResponse" name="createRoleToGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:input message="tns:deleteGroupRequest" name="deleteGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteGroupResponse" name="deleteGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input message="tns:updateUserRequest" name="updateUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listRolesToGroups">
      <wsdl:input message="tns:listRolesToGroupsRequest" name="listRolesToGroupsRequest">
    </wsdl:input>
      <wsdl:output message="tns:listRolesToGroupsResponse" name="listRolesToGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoleToGroup">
      <wsdl:input message="tns:getRoleToGroupRequest" name="getRoleToGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:getRoleToGroupResponse" name="getRoleToGroupResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserOperationsSoap11" type="tns:UserOperations">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listGroups">
      <soap:operation soapAction=""/>
      <wsdl:input name="listGroupsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listGroupsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupCourses">
      <soap:operation soapAction=""/>
      <wsdl:input name="getGroupCoursesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupCoursesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="addUserToGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserToGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCoursesTL">
      <soap:operation soapAction=""/>
      <wsdl:input name="listCoursesTLRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listCoursesTLResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserFromGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteUserFromGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserFromGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="createGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByLogin">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserByLoginRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserByLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupUsers">
      <soap:operation soapAction=""/>
      <wsdl:input name="getGroupUsersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCourses">
      <soap:operation soapAction=""/>
      <wsdl:input name="listCoursesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listCoursesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="createUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserGroups">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserGroupsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserGroupsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRoleToGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateRoleToGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateRoleToGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseTimeLimit">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCourseTimeLimitRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCourseTimeLimitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRoleToGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteRoleToGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteRoleToGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCourseTimeLimit">
      <soap:operation soapAction=""/>
      <wsdl:input name="setCourseTimeLimitRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setCourseTimeLimitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRoleToGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="createRoleToGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createRoleToGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listRolesToGroups">
      <soap:operation soapAction=""/>
      <wsdl:input name="listRolesToGroupsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listRolesToGroupsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoleToGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="getRoleToGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRoleToGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserOperationsService">
    <wsdl:port binding="tns:UserOperationsSoap11" name="UserOperationsSoap11">
      <soap:address location="http://10.145.13.110:8080/usermanager/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>